*{
    box-sizing: border-box;
}

div.container {
    background-color:rgb(65, 8, 23);
    width:100%;
    padding: 0 33%;
    border: 10px solid black;
}
div.header {
    background-color:rgb(95, 226, 19);
    width:100%;
    height: 250%;
    display:inline-block;
    border: 10px solid black;
}
div.nav {
    background-color: rgb(15, 124, 232);
    min-height: 80px;
    width:100%;
    display: inline-block;
}
div.body {
    color: #edf827;
    background-color: lightblue;
    min-height: 600px;
    display: inline-block;
    width: 100%;
    border: 10px solid black;
}
div.footer {
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 100%;
    display: inline-block;
    padding: 0 33%;
    border: 10px solid black;
}
p, h1, h2 {
    color:white
}
div.bodycol1 {
    background-color: purple;
    width: 50%;
    display: inline-block;
    float:left;
}
div.bodycol2 {
    background-color: pink;
    width: 50%;
    display: inline-block;
}
div.bodycol3 {
    background-color: violet;
    width: 50%;
    display:inline-block;
    Float:right;
}
div.bodycol4 {
    background-color: rgb(36, 16, 192);
    width: 50%;
    display:inline-block;
}
div.bodycol5 {
    background-color: rgb(14, 121, 41);
    width: 50%;
    display:inline-block;
    float:right;
}
div.bodycol6 {
    background-color: rgb(16, 169, 192);
    width: 50%;
    display:inline-block;
}
div.bodycol7 {
    background-color: rgb(13, 234, 156);
    width: 50%;
    display:inline-block;
}
div.body img {
    width: 50%;
    height: auto;
    float:left;
}
@media(max-width: 768px) {
    div.header {
        background-color: aqua;
    }
    div.bodycol1,
    div.bodycol2,
    div.bodycol3,
    div.bodycol4,
    div.bodycol5{
        width:100%;
        float:none;
    }
}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}