<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
    <title>Accounts</title>
</head>

<body>
    <div class=header>
        <h1>Accounts</h1>
    </header>
    <div class=nav>
    <a href="/">Muzzboost Homepage</a>
    <a href="/hard-unlock">Hard unlocks</a>
    <a href="/bot-lobbies">Bot Lobbies</a>
    <a href="/nukes">Nukes</a>
    <a href="/unreleased-bundles">Unreleased Bundles</a>
    <a href="/old-bundles">Old Bundles</a>
    <a href="/socials">Socials</a>
    <a href="/accounts">Accounts</a>
</nav>

    <div class="body">
        <h2>Accounts</h2>
        <div class="bodycol1">
            <h1>Bot Lobbies</h1>
            <h2>Regular lobbies per lobby</h2>
            </p>
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/4gw1722H46GI5cAaF3">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </p>
            <h2>Season pass</h2>
            <p>
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/4gw1722H46GI5cAaF3">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </p>
            <h2>Unlimited lobbies for the game</h2>
            <p>
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/4gw1722H46GI5cAaF3">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </p>
        </div>
        <div class="bodycol2">
            <h1>Hard Unlocks</h1>
            <h2>Dark Matter</h2>
            <p>            
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/cN23fa3L85CE6gEdRg">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </p>
            <h2>Nebula</h2>
            <p>            
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/cN23fa3L85CE6gEdRg">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </p>
            <h2>Abyss</h2>
            <p>            
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/cN23fa3L85CE6gEdRg">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </p>
        </div>
        <div class="bodycol3">
            <h1>Nukes</h1>
            <h2>Urzikstan</h2>
            <p>            
            <a href="https://www.paypal.com/au/home">paypal</a>
            <a href="https://buy.stripe.com/6oEbLG4Pc5CEbAY14w">stripe</a>
            <a href="https://Crypto.com">Crypto</a>
            </p>
            <h2>Rebirth</h2>
            <p>           
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/6oEbLG4Pc5CEbAY14w">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </p>
        </div>
        <div class="bodycol4">
            <h2>Bundles</h2>
            <h1>Old bundles</h1>
            <p>
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/6oEbLG4Pc5CEbAY14w">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </p>
            <h2>Unrealsed bundles</h2>
            <p>
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/6oEbLG4Pc5CEbAY14w">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </p>
        </div>
</div>
</body>
</html>