<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
    <title>Bot Lobbies</title>
</head>

<body>
    <header>
    <h1>Bot Lobbies</h1>
    <p>Welcome to MuzzBoost services</p>
    </header>

    <nav style="background-color:#333; padding: 10px; text-align: center;">
    <a href="/">Muzzboost Homepage</a>
    <a href="/hard-unlock">Hard unlocks</a>
    <a href="/bot-lobbies">Bot Lobbies</a>
    <a href="/nukes">Nukes</a>
    <a href="/unreleased-bundles">Unreleased Bundles</a>
    <a href="/old-bundles">Old Bundles</a>
    <a href="/socials">Socials</a>
    <a href="/accounts">Accounts</a>
    <a href="/customer-products">Customer Products</a>

    </nav>

    <div class="body">
        <h2>Bot Lobbies</h2>
        <div class="bodycol1">
            <h2>Column 1</h2>
            <p>This is where you join our lobby and kill the other team with 5 bots while the other person does the same on your team</p>
        </div>
        <div class="bodycol2">
            <h2>Column 2</h2>
            <p>All the bots will be walking in circles while shooting at the ground so they wont kill you</p>
        </div>
        <div class="bodycol3">
            <h2>Column 3</h2>
            <p>I mainly take stripe and paypal.</p>
        
            <p>Join a team of 5 of my bots and get matched with another team of 5 and person in a hardcore domination game.</p>
        
            <p>Rules: Black Ops 6 Lobby Rules:</p>
            <ul>
                <li>Capture your flag, not b flag.</li>
                <li>Don't kill other guy.</li>
                <li>Only use Scout Pulse, UAV & H.A.R.P. Killstreaks.</li>
            </ul>
        
            <p>And have fun!</p>
        </div>
        <img src="{{ url_for('static', filename='images/20241122_222312.jpg') }}" alt="in game bots with pssoble amount of kills" width="700" height="auto">
        <label>
            <div class="nav">
                <a href="/payment#column1" class="button">Link Button</a>
            </div>
    </div>
</body>
</html>

