<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
    <title>Payments</title>
</head>

    <div class=header>
        <h1 id="column1">Payments</h1>
    </header>
<body>
    <div class="body">
        <h2>Bot Lobbies payment</h2>
            <h2>Regular lobbies per lobby 
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/4gw1722H46GI5cAaF3">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </h2>

            <h3>Season pass
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/00geXSftQ1mo48w3cz">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </h3>

            <h4> Unlimited pass for the game
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/28obLGa9w2qs8oMaF2">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
            </h4>
        <div class="bodycol2">
            <h2 id="column2">Dark Matter</h2>
            <p>
            <a href="https://www.paypal.com/au/home">paypal</a>
            <a href="https://buy.stripe.com/cN23fa3L85CE6gEdRg">stripe</a>
            <a href="https://Crypto.com">Crypto</a>
            </p>
            <h3>Nebula
                    <a href="https://www.paypal.com/au/home">paypal</a>
                    <a href="https://buy.stripe.com/dR6bLGa9w0ikbAY00r">stripe</a>
                    <a href="https://Crypto.com">Crypto</a>
            </h3>
        
            <h4>Abyss
            <a href="https://www.paypal.com/au/home">paypal</a>
            <a href="https://buy.stripe.com/6oEbLG4Pc5CEbAY14w">stripe</a>
            <a href="https://Crypto.com">Crypto</a>
            </h4>
        </div>
        <div class="bodycol3">
            <h3 id="column3">Urzikstan</h2>
            <p>
            <a href="https://www.paypal.com/au/home">paypal</a>
            <a href="https://buy.stripe.com/cN27vq1D04yAeNacNf">stripe</a>
            <a href="https://Crypto.com">Crypto</a>
            </p>
            <h3>Rebirth
                    <a href="https://www.paypal.com/au/home">paypal</a>
                    <a href="https://buy.stripe.com/3csdTOchE7KM7kIeVo">stripe</a>
                    <a href="https://Crypto.com">Crypto</a>
            </h3>
        </div>
        <div class="bodycol4">
            <h3 id="column3">Old bundles</h2>
            <p>
            <a href="https://www.paypal.com/au/home">paypal</a>
            <a href="https://buy.stripe.com/00g2b66Xk0ik6gEcNh">stripe</a>
            <a href="https://Crypto.com">Crypto</a>
            </p>
        </div>
        <div class="bodycol5">
                <h5 id="column5">Unrealsed Bundles</h5>
                <p>
                <a href="https://www.paypal.com/au/home">paypal</a>
                <a href="https://buy.stripe.com/dR6g1WbdA5CE5cA9B6">stripe</a>
                <a href="https://Crypto.com">Crypto</a>
                </p>
        </div>
    </div>
</body>
</html>
